body {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}

/*  == Header ==  */
#header-nav { /* Fondo azul */
	background-color: #3366cc;
	border-radius: 0;
	border: 0;
	padding-bottom: 50px;
}   

.navbar-brand h1 { /* Título de la empresa */
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 2em;
	font-weight: bold;
	text-shadow: 1px 1px #000;
	line-height: .75;
}

.navbar-brand a:hover {
	text-decoration: none;
}

h2 {
	font-weight: bold;
	margin-top: 30px;
}

h3 {
	font-size: 22px;
	font-weight: bold;
}

.col-md-4 div.main-content {
	background-color: #f2f4a4;
	text-align: justify;
	margin-top: 20px;
	padding: 10px 25px 20px;
}




/*   Dispositivos XS   */
@media (max-width: 767px) {
	#header-nav {
		padding-bottom: 0px;
	}

	#collapsable-nav { /* Fondo verde */
		background-color: #9be184;
	}

	#nav-list a { /* Elementos dentro del botón */
		color: #fff;
		text-shadow: 1px 1px #000;
		font-weight: bold;
		text-align: center;
	}

	#nav-list li {
		margin-top: 10px;
		margin-bottom: -10px;
		margin-left: -15px;
		margin-right: -15px;
		line-height: 1em;
	}

	#nav-list li:hover {
		background: #E7E7E7;
	}

	button.navbar-toggle { /* Ubicación del botón */
		margin: 35px 20px;
	}

	.navbar-header button.navbar-toggle, .navbar-header .icon-bar { /* Apariencia del botón */
  		border: 1px solid #fff;
	}

	.col-xs-12 {
		margin-bottom: 20px;
	}
}